#root {
  max-width: 1280px;
  margin: 6rem auto;
  /* padding: 5rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  margin-top: 0;
}

#navbar {
  top: 0;
  position: fixed;
  padding: 2rem;
  background-color: rgb(55, 82, 82);
  border-radius: 0 0 10px 10px;
}

#navbar > a {
  margin: 0 1.5rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  color: aliceblue;
}

.league-nav {
  position: fixed;
  margin: 0 auto;
  translate: -7.09rem;
  width: 24rem;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 -10px 1px rgb(55, 82, 82);
  background-color: rgb(55, 82, 82);
}

.league-nav > a {
  margin: 0 0.5rem;
}

input {
  height: 20px;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 20px;
}

.user-card {
  width: 380px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
}

.user-card > img {
  align-self: center;
  height: 50px;
  width: 50px;
}

.league-list {
  min-width: 300px;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
  flex-wrap: wrap;
}

.league-list > a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.league-bio {
  width: 200px;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
}

.league-roster {
  margin-top: 4rem;
}